body
{
    margin: 0;
    padding: 0;
    text-align: center;
}
#P1button
{
    background-color: rgb(21, 194, 119);
}
#P2button
{
    background-color:rgb(28, 142, 196) ;
}
#reset
{
    background-color:rgb(187, 65, 65) ;
}
.btn
{
    font-size: 1 rem;
    font-weight: 100;
    color: rgb(238, 238, 238);
    border: none;
    margin: 0%;
    padding: 0.5rem;
    border-radius: 6%;
}